
@{
    ViewBag.Title = "Index";
}

<h2>News</h2>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Survey Reveals Local Businesses and Consumers Out of Sync on Mobile Search Expectations</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div> Localeze makes changes to listings services </div>
                Neustar’s Localeze and 15miles Seventh Annual Study Highlights Need for Mobile-Optimized Search Content as More Consumers Search on Multiple Devices
                <button type="button" class="btn btn-info btn-xs" href="https://www.neustar.biz/about-us/news-room/press-releases/2014/survey-reveals-local-businesses-and-consumers-out-of-sync-on-mobile-search-expectations">Read More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Case Study - Dollar Tree Dollar Tree</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                With Localeze® as a partner, we can quickly update Dollar Tree's ever-growing population of stores in an efficient and accurate manner. This makes it possible for shoppers to easily find our stores and take advantage of our mission to provide great products for $1 or less.
                <button type="button" class="btn btn-info btn-xs" href="https://www.neustarlocaleze.biz/resources/dollartree.html">Read More </button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Neustar Completes Acquisition of TARGUSinfo</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                Neustar, Inc. (NYSE:NSR) today completed its acquisition of Targus Information Corporation, or TARGUSinfo, which was announced on October 11, 2011.  Neustar also announced it has updated its full-year 2011 guidance to reflect the completed acquisition.
                <button type="button" class="btn btn-info btn-xs" href="https://www.neustar.biz/about-us/news-room/press-releases/2011/neustar_completes_acquisition_of_targusinfo">Read More</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile App AroundMe Selects Localeze to Increase Accuracy of U.S. Results</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                Localeze, a Neustar service and a trusted business listings identity management provider for local search, today announced it is supplying U.S. business listings for location-aware mobile search app AroundMe.
                 <button type="button" class="btn btn-info btn-xs" href="https://www.neustar.biz/about-us/news-room/press-releases/2012/mobile_app_aroundme_selects_localeze_to_increase_accuracy_of_us_results">Read More </button>
            </div>
        </div>
    </div>
</div>