
@{
    ViewBag.Title = "Index";
}

<div >
<h2>    Local Search Solutions for Chain / Enterprise Businesses </h2>

    Localeze offers exclusive services to enterprise and multi-location businesses through proprietary chain management solutions, verification tools, and real-time listing confidence scores.
    <li> Bulk Management Capabilities </li> 
    <li> Full control over the accuracy of your business listing information</li> 
    <li> Pre-processed review of Listing Data</li> 
    <li> Receive a full evaluation of your data accuracy in local search</li> 
    <li> Ongoing Feedback and Validation</li> 
    <li> Actively provide guidance for optimal performance & feedback</li> 
</div>

<div>
    <article>
        For large chains and enterprise businesses, our True Identity™ service enables businesses to update their local listing information with over 100 local search platforms, mobile applications, navigation systems, and directories at one time - from one place.
        Localeze publishes your listing information to the largest set of authorized local search platforms in the industry. Save time and money by adding your listings to our extensive network. Contact us to get started.
        Dollar Tree
        As Dollar Tree local search listings – including name, address and phone (NAP) information - needed increased monitoring and management and higher find-ability in search results, Localeze was asked to improve the retailer's presence across online platforms including search engines, directories and mobile and social sites.
    </article>
</div>
<div>

    <blockquote>
        With Localeze as a partner, we can quickly update Dollar Tree's ever-growing population of stores in an efficient and accurate manner. This makes it possible for shoppers to easily find our stores and take advantage of our mission to provide great products for $1 or less.
        <strong> Curtis Corl, VP - Dollar Tree Direct </strong>
    </blockquote>
</div>
