@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    Localeze is a trusted business listings identity management provider for local search. As a trusted partner, Localeze maintains direct, authorized relationships with local search platforms, national and regional brands, channel partners and local businesses.

    Localeze services provide businesses the tools to verify, manage and enhance the identity of their local listings online.
    Explore our Services
    We have services for:

    Small Businesses
    Chains or Enterprise Businesses
    Resellers and Agencies
    Data Licensing

    Getting Started:

    Customer Login
    Add your business listing
    View our knowledgebase & FAQs

    In the News
    Improve Your Mobile Local Search Experience, Says New Research May 06th, 2014 by Brian Wool
    Do You Know the Smartphone/Tablet Difference in Local Search? May 02nd, 2014 by Brian Wool
    10 Essential Things To Know About Local Search Marketing in 2014 April 25th, 2014 by Mike Pycha

</p>