@{
    ViewBag.Title = "About";
}

<h1>About</h1>

<p>
    Localeze is a trusted business listings identity management provider for local search. As a trusted partner, Localeze maintains direct, authorized relationships with local search platforms, national and regional brands, channel partners and local businesses.

        Localeze services provide businesses the tools to verify, manage and enhance the identity of their local listings online.
        Explore our Services
        We have services for:

            <li> Small Businesses </li>
            <li> Chains or Enterprise Businesses </li>
            <li> Resellers and Agencies </li>
            <li> Data Licensing </li>

</p>