@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Headquarters<br />
    21575 Ridgetop Circle<br />
    Sterling, VA 20166
    <abbr title="Phone">P:</abbr>
    1-800-960-3755
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@localeze.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@localeze.com</a>
</address>