@{
    ViewBag.Title = "Home Page";
}


<p>
    <h1> Localeze </h1>

    Localeze, a service of Neustar, is a content manager for local search engines. 
    The company provides businesses with tools to verify and manage the identity of their local listings across the Web. The company works with local search platform partners and location-based service partners, 
    national brands and local business clients.

    Localeze was created in 2005 to help businesses ensure that they have accurate name, address and phone number data available on search engines, Internet Yellow Pages and vertical directories.
    In 2010, business listings were also included in personal navigation devices, mobile apps and on social networking services.

    Product description
    As a local search business listings provider, Localeze collects and distributes business listings that can be verified by businesses themselves. Its business listings are used by search, social and mobile companies in the domain of Local Search and location-based services. 
    Such partners include Yahoo!, Bing, Yellow Pages, TomTom, Siri (acquired by Apple), Twitter and Facebook.
</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Resources/Images/01_SalesByPhone.jpg"  alt="...">
            <div class="carousel-caption">
                <h3> </h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Resources/Images/02_NavigationHome.jpg" alt="..." />
            <div class="carousel-caption">
                <h3> </h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Resources/Images/03_PhoneHome.jpg" alt="..."/>
            <div class="carousel-caption">
                <h3> </h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->